body{
    font-family: "Comic Sans MS",sans-serif;
}
.gallery-section{
    text-align: center;
}
.gallery-section h1 {
    font-family: "Old English Text MT", sans-serif;
    font-size: 35px;
    text-shadow: 0 0 5px coral;
}
.zoom img{
    width: 300px;
    height: 300px;
    transition: all 0.5s;
    border-radius: 10px;


}
.zoom img:hover{
    transform:perspective(400px) scale(1.2,1.2);
    cursor: pointer;
}
div{
    border: 2px solid black;
    width: 300px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

}